<div class="bg-[url('/assets/img/wellcome.png')] w-full h-full pt-[200px]">
  <div class="w-[930px] h-[500px] m-auto">
    <p class="mix-blend-hard-light  text-00388C  xl:top-[11%]  lg:top-[15%] opacity-100 left-[40%] text-[100px] fixed shadow">Wellcome</p>
    <div class="ml-[350px]">
      <div class="mt-20">
        <button
          class="bg-textblue w-[270px] text-white px-16 py-4 rounded-full"
          (click)="redSsoAdmin()"
        >
          SSO Admin
        </button>
      </div>
      <div class="w-full m-auto mt-8">
        <button class="bg-textblue w-[270px] text-white px-16 py-4 rounded-full">User</button>
      </div>
      <div class="mt-8">
        <button class="bg-textblue text-white px-16 py-4 rounded-full">Components Admin</button>
      </div>
    </div>
  </div>

</div>
