<div class="
lg:px-[40px] lg:bg-blue xl:max-w-full lg:mt-[50px]
px-[16%]    bg-white h-full">
  <div class="lg:hidden w-full">
    <div class>
      <img
        src="/assets/icons/Back Arrow.svg"
        class="w-[30px] h-[30px] "
        routerLink="/forgot-password"
      >
    </div>
    <p class="text-[24px]  font-medium text-blue leading-6 text-center">FORGOT PASSWORD</p>
    <img
      src="/assets/img/img-get-otp.png"
      class="m-auto pt-[4%]"
    >
  </div>
  <div class=" 
    w-full lg:flex lg:py-[30px] justify-around xl:max-w-[1363px] xl:px-[30px] lg:bg-white rounded-xl m-auto">
    <div class=" lg:flex hidden ">
      <img
        src="/assets/img/edit_21.png"
        class="aspect-[5/3]"
      >
    </div>
    <div class="lg:max-w-[60%]">
      <div class="text-center">
        <p class=" lg:block lg:text-[30px] text-blue font-semibold text-[48px] hidden  
                ">VERIFY YOUR EMAIL</p>

        <div class="pt-[35px]">
          <p class="xl:text-[22px] lg:text-[14px]  font-normal leading-5 text-blue lg:inline ">Please enter OTP number</p>
          <p class="xl:text-[22px] lg:text-[14px]  font-normal leading-5 text-blue lg:inline">sent to admin123@gmail.com</p>
        </div>
        <div class="mt-[25px] lg:block hidden">
          <p class="xl:text-[22px]  text-buttonYellow">Please Enter OTP</p>
          <p class="xl:text-[22px]  text-blue">0: 52</p>
        </div>
      </div>
      <div class="mt-[80px] xl:ml-[30px] px-[20px] ">
        <div class=" xl:gap-9 lg:gap-7 flex justify-around gap-6">
          <div class="xl:w-[58px] lg:w-[40px] w-[37px]  ">
            <input
              type="text"
              class=" text-[14px] xl:text-[18px] font-normal leading-[22px] text-textblue
                block w-full outline-none pt-[2.2%] "
            >
            <span class="border border-blue block"></span>
          </div>
          <div class="xl:w-[58px] lg:w-[40px] w-[37px]">
            <input
              type="text"
              class=" text-[14px] xl:text-[18px] font-normal leading-[22px] text-textblue
                block w-full outline-none pt-[2.2%] "
            >
            <span class="border border-blue block"></span>
          </div>
          <div class="xl:w-[58px] lg:w-[40px] w-[37px]">
            <input
              type="text"
              class=" text-[14px] xl:text-[18px] font-normal leading-[22px] text-textblue
                block w-full outline-none pt-[2.2%] "
            >
            <span class="border border-blue block"></span>
          </div>
          <div class="xl:w-[58px] lg:w-[40px] w-[37px]">
            <input
              type="text"
              class=" text-[14px] xl:text-[18px] font-normal leading-[22px] text-textblue
                block w-full outline-none pt-[2.2%] "
            >
            <span class="border border-blue block"></span>
          </div>
          <div class="xl:w-[58px] lg:w-[40px] w-[37px] ">
            <input
              type="text"
              class=" text-[14px] xl:text-[18px] font-normal leading-[22px] text-textblue
                block w-full outline-none pt-[2.2%] "
            >
            <span class="border border-blue block"></span>
          </div>
          <div class="xl:w-[58px] lg:w-[40px] w-[37px]">
            <input
              type="text"
              class=" text-[14px] xl:text-[18px] font-normal leading-[22px] text-textblue
                block w-full outline-none pt-[2.2%] "
            >
            <span class="border border-blue block"></span>
          </div>
        </div>
        <div class="
            xl:mt-[15%]
            mt-[10%] 
            ">
          <div class=" lg:flex justify-around">

            <input
              type="button"
              class=" 
                        xl:w-[200px] xl:h-[50px]
                        lg:block 
                        lg:text-[18px] px-[24px] lg:py-[10px]
                        text-[28px] text-white font-medium leading-6
                        hidden cursor-pointer bg-blue rounded-[10px] "
              value=" RESEND OTP"
              routerLink="/getotp"
            >
            <input
              type="button"
              class=" xl:w-[200px] xl:h-[50px]
                        lg:block lg:text-[18px] px-[24px] lg:py-[10px]
                        text-[28px] text-white font-medium leading-6
                        hidden cursor-pointer bg-buttonYellow rounded-[10px]"
              value="VERIFY OTP"
              routerLink="/create-newpassword"
            >
            <input
              type="button"
              class=" lg:hidden button-short m-auto  bg-blue block mt-[70px] cursor-pointer"
              value="VERIFY"
              routerLink="/create-newpassword"
            >
          </div>
          <div class="mt-[35px] text-center ">
            <a
              routerLink="/login"
              class=" lg:block hidden lg:text-[16px] text-[18px] text-blue font-medium cursor-pointer leading-5"
            >
              Back to SIGN IN
            </a>
            <a
              routerLink
              class=" lg:hidden lg:text-[16px] text-[18px] text-blue font-medium cursor-pointer leading-5"
            >
              Resend OTP in 60s
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
