<div class="w-[100%] h-[100%] flex flex-col-reverse font-Mulish m-0 bottom-0    gl:flex-row">
  <div class="w-[100%]  h-[100%] flex items-center justify-center rounded-t-lg pt-12 gap-2 gl:w-[43%] gl:p-40">
    <div class="flex flex-col gap-4 w-[100%]">
      <p class="text-base leading-6 font-normal text-mkm whitespace-nowrap">Mật khẩu mới</p>
      <p class="text-tmkm font-bold leading-9 mt-3 whitespace-nowrap">Tạo mật khẩu mới!</p>
      <form action="">
        <div class="font-medium flex flex-col">
          <label for="username" class="font-normal text-sm whitespace-nowrap ">Mật khẩu mới</label>
          <input
            class=" shadow appearance-none border pr-2.5 border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder="Mật khẩu mới">
        </div>
        <div class="font-medium flex flex-col ">
          <label for="password" class="font-normal text-sm whitespace-nowrap ">Nhập lại mật khẩu mới</label>
          <input
            class="shadow appearance-none border border-red-500 pr-2.5 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder=" Nhập lại mật khẩu mới">
        </div>
      </form>
      <button class="mt-12 py-3 bg-primaryYellowe text-[1.25rem]  w-full text-white rounded-lg mb-4 ">Lưu</button>
      <p class="text-center text-base font-normal leading-6 text-[1.25rem]"> Trở về <a
          class="text-primaryYellowe cursor-pointer font-bold leading-6 text-[1.25rem]" href="#">Đăng nhập</a></p>
    </div>
  </div>
  <div class="h-[100%] flex text-center items-center justify-center flex-col bg-[#00477D] relative bg-cover bg-center
  gl:bg-[url('/assets/img/login.png')]  gl:w-[57%] ">
    <p class="text-[10rem] pt-1 flex-col text-white font-bold  text-center whitespace-nowrap gl:block gl:border-b-2 ">
      SSO
    </p>
    <p class=" text-erp text-center block border-t-2 flex-col pt-5 text-white whitespace-nowrap gl:border-none">
      Enterprise
      Resource Planning system.</p>
  </div>
</div>