<div
  class="flex font-Mulish w-full h-full"
  [formGroup]="formforgotpassword"
>
  <div class="w-[40%]">
    <div class="max-w-[600px] h-[448px]  pt-[300px] mb-[175px] pl-[170px] pr-[84px]">
      <div>
        <p class="text-base leading-6 font-semibold">Quên Mật Khẩu ?</p>
        <p class="text-[30px] font-bold leading-9 mt-3">Vui Lòng Nhập Email!</p>
      </div>
      <div>
        <div class="pt-12">
          <app-primary-input
            formControlName="e"
            [formFieldControl]="fields.e"
            [(ngModel)]="email"
            [errrorMessages]="textFieldErrors"
            title="Email"
            placeholder="Your Email"
          ></app-primary-input>
          <p class="text-xs mt-2">
            Vui lòng nhập email để nhận mã xác minh.
          </p>
        </div>
        <div class="text-center  mt-10">
          <button
            class="bg-primaryYellowe text-[20px] py-[14px] w-full text-white rounded mb-4"
            (click)="log()"
          >
            Gửi
          </button>
          <span>
            Trở Về
            <span
              class="text-primaryYellowe cursor-pointer"
              (click)="back()"
            >
              Đăng Nhập
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[60%] h-full   content-[url('/assets/img/login.png')] relative"></div>
</div>
<app-toast
  id="notifi"
  class=" "
  statusToast="{{statusToast}}"
  MessToast="{{MessToast}}"
></app-toast>
