<div>
  <div class>
    <div class="w-full checked:text-blue ">
      <label
        for="text"
        class="{{touch? 'text-black':'text-textblue'}} text-[14px] leading-5 font-semibold "
        *ngIf="!IsReadonly && !Isdisabled"
      >
        {{title}}
        <span
          *ngIf="title && Primary"
          class="text-red"
        >
          *
        </span>

      </label>
      <label
        for="text"
        class="text-textgray text-[14px] leading-5 font-semibold "
        *ngIf="IsReadonly || Isdisabled"
      >
        {{title}}
      </label>
      <div class="relative">
        <input
          #text
          type="text"
          class="block w-full h-[45px] py-[10px] px-[12px] rounded-lg border border-linegray  text-textblue text-[16px] leading-6 tracking-wide font-semibold
       focus:bg-white focus:text-black  {{(firstErrorMessage && touch)? 'border-red':'border-linegray'}} focus:outline-none disabled:text-scgray {{IsReadonly?'focus:border-linegray':'focus:border-textblue'}}"
          [(ngModel)]="value"
          on-focus="focusFunction()"
          on-focusout="focusOutFunction()"
          [readonly]="IsReadonly"
          placeholder="{{placeholder}}"
          disabled="{{Isdisabled}}"
          [type]="inputType"
        >
        <div
          class="sm:h-[26px] w-[28px] cursor-pointer flex border-none absolute right-3 top-2 "
          *ngIf="isPassword"
          (click)="toggleEyeIcon()"
        >
          <img
            [src]="checkicon"
            class="border-none"
          >
        </div>
      </div>
    </div>
  </div>
  <span
    class="text-invalid flex {{isFixed?'fixed':''}}"
    *ngIf="firstErrorMessage && touch"
  >
    <img
      src="/assets/icons/invalid.svg"
      class="w-4 h-4"
    >
    <span class="ml-1">{{firstErrorMessage}}</span>
  </span>
</div>
